.contant-container {
  width: 64rem;
  margin-bottom: 30px;
}

.contant-container .item {
  min-height: 20rem;
  width: 100%;
  display: grid;
  font-size: 0.9rem;
  grid-template-columns: 25% 1fr 25%;
  margin: 10px 0 20px 0;
}
.contant-container .item:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
/* 
*******
left-item
*******
*/
.contant-container .item .left-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contant-container .item .left-item .label {
  height: 2.125rem;
  width: 8.5rem;
  background-color: #ff7724;
  text-align: center;
  /* padding: 8px 10px; */
  line-height: 2rem;
  font-size: 0.9rem;
  border-radius: 8px;
  color: #ffffff;
  align-self: flex-start;
}
.no-and-img {
  height: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  width: 100%;
}
.contant-container .item .left-item .no {
  color: #626e79;
  font-size: 1.1rem;
  align-self: flex-start;
}
.contant-container .item .left-item img {
  height: 6.4375rem;
  width: 8.8125rem;
  align-self: center;
}
.contant-container .item .left-item h6 {
  color: #4b5665;
  font-size: 0.875rem;
  text-align: center;
  padding-top: 20px;
  font-weight: 400;
}
/* 
*******
mid-item
*******
*/

.contant-container .item .mid-item {
  color: #4b5665;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contant-container .item .mid-item .about {
  padding-bottom: 20px;
}
.contant-container .item .mid-item .about span {
  font-weight: 700;
}
.contant-container .item .mid-item h5 {
  font-size: 0.9rem;
  padding-bottom: 20px;
}
.contant-container .item .mid-item p {
  padding-left: 20px;
  padding-bottom: 20px;
}
.contant-container .item .mid-item .see-more {
  color: #1b88f4;
  cursor: pointer;
  width: 100px;
  transition: all 0.2s linear;
}
.contant-container .item .mid-item .see-more:hover {
  color: #a1c8ec;
}

/* 
*******
right-item
*******
*/
.contant-container .item .right-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.contant-container .item .right-item .rating-card {
  height: 10rem;
  width: 9rem;
  background-color: #f3f9ff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 12px;
}
.contant-container .item .right-item .rating-card .no {
  color: #074786;
  font-size: 1.7rem !important;
  font-size: 0.8125rem;
}
.contant-container .item .right-item .rating-card p {
  color: #074786;
  font-size: 0.8125rem;
}
.contant-container .item .right-item button {
  color: #ffffff;
  height: 3rem;
  width: 12rem;
  padding: 10px 8px;
  background-color: #1b88f4;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.contant-container .item .right-item button:hover {
  transform: scale(1.1);
}

/* 
*******
Mid item
CDK Resposive Builde
*******
*/
.contant-container .item .mid-item.cdk {
  height: 30rem;
}
.contant-container .item .mid-item.cdk .cdk-details {
  display: none;
}
.contant-container .item .mid-item.cdk .cdk-details .percentage {
  background-color: #f2f4f7;
  color: #074786;
  display: inline-block;
  font-size: 0.9rem;
  padding: 1px 5px;
  margin-bottom: 8px;
}
.contant-container .item .mid-item.cdk .cdk-rate {
  height: 7rem;
  width: 31rem;
  background-color: #fff4ed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  margin-left: 20px;
}
.contant-container .item .mid-item.cdk .cdk-rate div {
  font-size: 0.8.5rem;
  color: #4b5665;
}
.contant-container .item .mid-item.cdk .cdk-rate div span {
  background-color: #ffffff;
  color: #1b88f4;
}
.contant-container .item .mid-item.cdk .cdk-review h6 {
  font-size: 0.9rem;
  font-weight: 400;
}
.contant-container .item .mid-item.cdk .cdk-review .reviews {
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5px;
  font-size: 0.9rem;
}
.contant-container .item .mid-item.cdk .cdk-review .reviews div > i {
  background-color: #eaeff3;
  color: #1b88f4;
  border: none !important;
  padding: 1px 3px;
  border-radius: 2px;
}
