.footer-component {
  height: 28rem;
  width: 100%;
  background-color: #212731;
  padding: 100px 0 0 0px;
  display: flex;
  justify-content: space-around;
  color: #b6bdc4;
}
.footer-component :where(.categories, .contant, .us) {
  align-self: flex-start;
}
.footer-component :where(.categories, .contant) h6 {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 10px;
}
.footer-component :where(.categories, .contant) > div {
  font-size: 0.8rem;
  cursor: pointer;
  padding: 10px 0;
}
.footer-component .us {
  font-size: 0.8rem;
  /* align-self: baseline; */
  padding-top: 50px;
  cursor: pointer;
}
