.nav-container {
  height: 4rem;
  width: 100%;
  background-color: #212731;
  color: #d1d6da;
}
.nav-container nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.25rem;
  font-size: 0.875rem;
}
.nav-container nav > span {
  cursor: pointer;
}

.nav-container .input-group {
  height: 2.3125rem;
  width: 15rem;
  position: relative;
}
.input-group input {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e1e4e6;
  outline: none;
  padding-left: 40px;
}
.input-group input:focus {
  border-color: #323232;
}
.input-group button i {
  font-size: 1.25rem;
}
.input-group button {
  position: absolute;
  top: 6px;
  left: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
/* ******
mobile responsive element
****** */
.nav-container nav .mobile-respons {
  height: 20px;
  width: 20px;
  position: relative;
}
.nav-container nav .mobile-respons .bi-list,
.bi-x-lg {
  display: none;
  font-size: 20px;
  cursor: pointer;
  -webkit-text-stroke: 1px;
}
.nav-container nav .mobile-respons .mobile-list {
  position: absolute;
  top: 32px;
  right: -40px;
  height: 100px;
  width: 100px;
  background-color: rgb(0, 0, 0, 0.7);
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
  transition: all 0.2s linear;
  color: #ffffff;
}

.nav-container .mobile-list div {
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .nav-container nav > span {
    display: none;
  }
  .nav-container nav .mobile-respons .mobile-list {
    display: flex !important;
  }
  .nav-container nav {
    justify-content: space-evenly;
  }
  .nav-container nav .mobile-respons .bi-list,
.bi-x-lg {
  display: block;
}
}

